/* TODO Add site wide styles */
html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

#root {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 241px;
    background-color: black;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    position: sticky;
}



ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    background-color: #121212;
    overflow: auto;
}

.content-top-bar {
    height: 64px;
    position: sticky;
    top: 0;
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
}
#red {
    background-color: #ff3636;
}
.nav-arrow {
    background-color: #090909;
    border-radius: 50%;
    color: white;
    border: none;
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.main-content {
    background: rgb(31, 31, 31);
    background: linear-gradient(90deg, rgba(31, 31, 31, 0.31) 0%, rgba(18, 18, 18, 1) 100%);
    padding: 0 20px;
    max-height: 100%;
    box-sizing: border-box;
    overflow: auto;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.sidebar-links>li {
    padding: 0 8px;
}

.sidebar-link {
    padding: 0 16px;
    display: flex;
    font-size: 13px;
    align-items: center;
    height: 40px;
    color: #b3b3b3;
    background-color: transparent;
    cursor: pointer;
}

.sidebar-link>.material-symbols-outlined {
    margin-right: 10px;
}

#logo {
    height: 66px;
    text-align: center;
}

#library-icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#sign-up {
    color: #A7A7A7;
    background-color: #101010;
    border: none;
    font-size: 16px;
    margin: 8px 32px 8px 8px;
    font-weight: bold;
}

#sign-up:hover {
    color: white;
    font-size: 18px;
}

#login {
    color: black;
    background-color: white;
    border: none;
    font-size: 16px;
    padding: 8px 32px;
    border-radius: 24px;
    font-weight: bold;
    height: 48px;
}

#login:hover {
    font-size: 18px;
}

.song-navbar {
    margin-top: 24px;
}

.song-navbar button {
    padding: 8px 24px;
    background-color: transparent;
    border: none;
}

.song-navbar button:hover {
    cursor: pointer;
}

#create-icon {
    background-color: #b3b3b3;
    color: black;
    border-radius: 2px;
}

#liked-icon {
    background: rgb(47, 13, 156);
    background: linear-gradient(135deg, rgba(47, 13, 156, 1) 0%, rgba(126, 147, 154, 1) 100%);
    border-radius: 2px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.sidebar-link:hover {
    color: white;
}

.sidebar-link:hover #create-icon {
    background-color: white;
}

.active {
    color: white;
}

.inactive {
    color: #b3b3b3;
}

button {
    cursor: pointer;
}

#profile {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 16px;
    height: 32px;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

#active-profile {
    display: flex;
    align-items: center;
    background-color: #282828;
    border-radius: 16px;
    height: 32px;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

#active-profile .material-symbols-outlined:first-of-type {
    background-color: #535353;
    border-radius: 50%;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

#profile .material-symbols-outlined:first-of-type {
    background-color: #535353;
    border-radius: 50%;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

#drop-down {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #282828;
    width: 240px;
    padding: 4px;
    font-size: 14px;
    z-index: 1000;
}

#drop-down>* {
    padding: 12px 8px 12px 12px;
    cursor: pointer;
}

#drop-down> *:hover {
    background-color: #3e3e3e;
}

.playlist-info {
    padding: 0 20px 20px 20px;
    display: flex;
    position: relative;
    z-index: 1;
    width: fit-content;
}

.playlist-image {
    width: 192px;
    height: 192px;
    background: rgb(255, 0, 0);
    background: linear-gradient(145deg, rgba(255, 0, 0, 1) 0%, rgba(255, 107, 107, 1) 100%);
    display: flex;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.391);
    background-position: center;
}

.playlist-image .material-symbols-outlined {
    margin: auto;
    width: fit-content;
}

.playlist-data {
    padding: 0 20px;
}

.playlist-data h1 {
    font-size: 72px;
    margin: 0;
}

.playlist-data p {
    margin: 0;
}
.column-headers {
    display: grid;
    grid-gap: 16px;
    padding: 0 16px;
    grid-template-columns: .5fr 4fr 3fr 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid #a7a7a739;
    font-size: 12px;
}
#clock {
    text-align: right;
}

.empty {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}

.song {
    display: grid;
    grid-gap: 16px;
    padding: 0 16px;
    grid-template-columns: .5fr 4fr 3fr 2fr 1fr;
    align-items: center;
    font-size: 12px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.album-pic {
    height: 192px;
    width: 192px;
    background-color: gray;

}

.playlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete-song-button {
    height: 40px;
    background-color: #1ed760;
    border: none;
    padding: 12px 48px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
}

.modal-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    color: black;
    position: fixed;
    z-index: 2;
    margin: auto;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.modal bold {
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-button {
    padding: 8px 32px;
    border-radius: 24px;
    border: none;
    background-color: white;
    font-size: 16px;
    height: 48px;
    font-weight: bold;
}

#cancel {
    margin: auto;
    
}

#delete {
    background-color: #1ed760;
}

#editable-title {
    cursor: pointer;
}

.edit {
    background-color: #282828;
    color: white;
    padding: 0;
}


.cancel-button {
    color: white;
    height: fit-content;
}
.cancel-button:hover {
    background-color: #3e3e3e;
    border-radius: 50%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 524px;
    padding: 24px;
}

.modal-header h3 {
    height: fit-content;
    margin: 0;
}



.edit-form {
    display: grid;
    padding: 0 24px 24px;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 16px;
    grid-template-rows: 40px 124px 40px 40px;
    row-gap: 16px;
}

#edit-image {
    height: 180px;
    width: 180px;
    box-shadow: 0 0 10px black;
}

#edit-name {
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: #3e3e3e;
    border-radius: 5px;
    color: white;
}

#edit-name:focus-visible {
    outline: none;
    border: none;
}

#edit-description {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #3e3e3e;
    border-radius: 5px;
    resize: none;
    color: white;
}

#edit-description:focus-visible {
    border: none;
    outline: none;
}

#edit-save {
    grid-row: 3;
    grid-column: 2;
    justify-self: right;
    padding: 8px 32px;
    background-color: white;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
}

#edit-disclaimer {
    font-size: 11px;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    word-wrap: break-word;
    display: flex;
    width: 524px;
}

.more-options {
    font-size: 32px;
    color: #a7a7a7ad;
}

.drop-div {
    padding: 0 24px;
    position: relative;
    width: fit-content;
}

#options {
    position: absolute;
    background-color: #282828;
    left: 24px;
}

#options > button {
    padding: 12px 8px 12px 12px;
    cursor: pointer;
    width: fit-content;
    color: white;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}

#options > button:hover {
    background-color: #3e3e3e;
}

.center {
    margin: auto;
}

#playlist-sidebar {
    border-top: solid 1px #a7a7a7ad;
    margin: 24px 16px 0;
}

.edit-image {
    width: 100%;
    height: 100%;
    display: none;
}

.edit-error {
    text-align: center;
    padding-bottom: 24px;
}

.description {
    color: #b3b3b3;
}

.playlist-stats {
    margin-top: 8px;
}

.home-buttons {
    display: flex;
}

.card-image {
    width: 185px;
    height: 185px;
    border-radius: 8px;
}

.home-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    background-color: #181818;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.home-card p{
    margin: 0;
    margin-top: 10px;
    
    width: 185px;
}

.home-card p:last-of-type {
    color: #b3b3b3;
    font-size: 14px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.no-image {
    width: 185px;
    height: 185px;
    background-color: #535353;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-image .material-symbols-outlined {
    font-size: 60px;
}

.disabled {
    cursor: not-allowed;
}

.disabled button {
    cursor: not-allowed;
}

.currentSong-image {
    height: 56px;
    width: 56px;
    background-position: center;
    background-size: contain;
    margin-right: 20px;
}

#search {
    width: 364px;
    height: 40px;
    padding: 6px 48px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: absolute;
    left: 0;
}

#search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

#search-icon {
    position: relative;
    color: black;
    z-index: 1;
    left: 15px;
}

.about-me {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.search-page {
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box;
    padding: 16px;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
}